#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 400px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 20 auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
    
}

.middle {
    width: 200px;
    height: 200px;
    float: left;;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    width: 400px;
    height: 200px;
    top: 0; margin: 0px auto;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
    display: block;
    margin: 25px auto;
}

h1 , h3 {
    font-family: Comic Sans MS;
    color: tomato
}

body {
    background-color: blanchedalmond;
}

body.fade.in {
    opacity: 1;
    transform: none;
}

div {
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkblue;
}