/* Container includes table and canvas */
.center-container {
    /* this property sets the width of our container */
    width: 608px;
    /* this property centers the container */
    margin: 0 auto;
    /* 50 px down from the top */
    margin-top: 50px;
}

table {
    /* this property collaspe table borders into 1 border */
    border-collapse: collapse;
    /* Hides outer border */
    border-style: hidden;
}

td {
    cursor: pointer;
    border: 4px solid rgba(184, 13, 13, 0.8);
    /* This property removes default padding */
    padding: 0px;
    width: 200px;
    height: 200px;
}

canvas {
    /* This property sets the position of our canvas to the top left corner of our conatainer */
    position: absolute;
    /* This property paces our canvas over the top of our table */
    z-index: 10;
    /* This property makes our canvas invisible */
    pointer-events: none;
    color: red;
}
h1 {
    text-align: center;
}